################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TVS Gaming/TVS.Gaming/TVS.Repository/obj/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Common/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Data/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Data/obj
/TVS Gaming/TVS.Gaming/TVS.Factory/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Model/obj
/TVS Gaming/TVS.Gaming/TVS.Game.API/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Service/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Repository/bin/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Factory/obj/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Game.API/obj/Debug/net6.0
/TVS Gaming/TVS.Gaming/TVS.Factory/obj
