################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TVS Gaming/TVS.Gaming/TVS.Repository/obj/Debug/net6.0
